<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flash_module">

    <application>
        <activity android:name=".activity.FlashActivity"></activity>
        <activity android:name=".activity.FlashDetailActivity"></activity>
    </application>

</manifest>