<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityservices">

    <application>
        <activity android:name=".activity.ServiceDetailsActivity"></activity>
        <activity android:name=".activity.CityServicesActivity" />
    </application>

</manifest>